@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

div {
  font-family: 'Montserrat', sans-serif;
}

.mainContainer {
  margin: auto;
  width: 80%;
  border: 1px solid red;
  padding: 10px;
  overflow: hidden;
}

td {
 text-align: center; 
}

th {
  margin: 0%;
}

.tableTextBox {
  width: 50%;
}

#first {
    width: 80%;
    float:left;
    margin-right: 10px;
    border: 1px solid blue;
}

#second {
    border: 1px solid green;
    overflow: hidden;
}