@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

div {
  font-family: 'Montserrat', sans-serif;
}

.mainContainer {
  margin: auto;
  width: 50%;
  border: 1px solid red;
  padding: 10px;
  overflow: hidden;
}

#first {
    width: 50%;
    float:left;
    margin-right: 10px;
    border: 1px solid blue;
}
#second {
    border: 1px solid green;
    overflow: hidden;
}