@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

div {
  font-family: 'Montserrat', sans-serif;
}

.mainContainer {
  margin: auto;
  width: 80%;
  border: 1px solid red;
  padding: 10px;
  overflow: hidden;
}

td {
 text-align: center; 
}

td input {
 text-align: center;
}

.tableTextBox {
  width: 50%;
}

#partitionTableLayout {
  width: 70%;
  float:left;
  margin-right: 10px;
  border: 1px solid blue;
}

#statisticsLayout {
  border: 1px solid green;
  overflow: hidden;
}

#descriptionLayout {
  top: 10px;
  position: relative;
  clear: both;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
}

#overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#errorOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,0,0,0.6);
  z-index: 2;
  cursor: pointer;
}

#errorOverlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#sizeValue {
  width: 75px;
}

#sizeHex {
  width: 100px;
}

#totalSizeB {
  font-family: "Courier New";  
}

#totalSizeKb {
  font-family: "Courier New";
}

#totalSizeMb {
  font-family: "Courier New";
}

.warning {
  -webkit-animation: warning 2s infinite;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.7;
  font-weight: bold;
}

@-webkit-keyframes warning {
    0%{ background-color: red; }
    49%{ background-color: red; }
    50%{ background-color: transparent; }
    99%{ background-color: transparent; }
    100%{ background-color: red; }
}